.plane {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.title {
  margin-top: 50px;
  text-align: center;
}
.container {
  display: table;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}
.cockpit {
  width: 20%;
  height: 100%;
  background-color: lightblue;
  position: relative;
}

.seating {
  width: auto;
  height: 100%;
  padding: 26px;
  background-color: lightgray;
}

.row {
  display: flex;
  width: 100%;
}

.seat {
  width: 50px;

  height: 50px;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  padding-top: 15px;
}
